.dashboard-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.dashboard-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #fff;
    color: #3498db;
    transition: background-color 0.3s, color 0.3s, transform 0.2s, border 0.3s;
    cursor: pointer;
}

.dashboard-button .button-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-button i {
    font-size: 24px;
}

.dashboard-button:hover {
    background-color: #3498db;
    color: #fff;
    transform: scale(1.05);
    border: 2px solid #fff;
}